In [13]:
import pandas as pd

In [14]:
benchmark_performance = pd.read_csv('benchmark_performance.csv')

In [15]:

# btc = benchmark_performance[benchmark_performance["sym.2"] == "BTC"]
benchmark_performance.drop(['sym', 'returns', 'Unnamed: 2', 'sym.1', 'year', 'returns.1', 'Unnamed: 6'], axis=1, inplace=True)
benchmark_performance = benchmark_performance.reset_index(drop=True)
benchmark_performance

    sym.2    month  returns.2
0     BNB  2017.11   0.300000
1     BNB  2017.12   3.374359
2     BNB  2018.01   0.323510
3     BNB  2018.02  -0.075974
4     BNB  2018.03   0.056087
..    ...      ...        ...
410   XRP  2023.12   0.015339
411   XRP  2024.01  -0.182291
412   XRP  2024.02   0.165706
413   XRP  2024.03   0.072256
414   XRP  2024.04  -0.121901

[415 rows x 3 columns]

In [16]:
benchmark_performance['month'] = benchmark_performance['month'].astype(str)

for i in range(len(benchmark_performance)):
    if benchmark_performance.iloc[i]['month'].endswith(".1"):
        benchmark_performance.at[i, 'month'] = benchmark_performance.iloc[i]['month'] + "0"

benchmark_performance['month'] = pd.to_datetime(benchmark_performance['month'], format="%Y.%m")
benchmark_performance

    sym.2      month  returns.2
0     BNB 2017-11-01   0.300000
1     BNB 2017-12-01   3.374359
2     BNB 2018-01-01   0.323510
3     BNB 2018-02-01  -0.075974
4     BNB 2018-03-01   0.056087
..    ...        ...        ...
410   XRP 2023-12-01   0.015339
411   XRP 2024-01-01  -0.182291
412   XRP 2024-02-01   0.165706
413   XRP 2024-03-01   0.072256
414   XRP 2024-04-01  -0.121901

[415 rows x 3 columns]

In [17]:
benchmark_performance.to_csv("benchmark.csv")