In [1]:
from Investment import Investment

import pandas as pd

In [2]:
BTC_daily = pd.read_csv('BTC-USDT_daily.csv', index_col=0)
BTC_daily

                open      high       low     close        volume
date
2017-08-17   4261.48   4485.39   4200.74   4285.08    795.150377
2017-08-18   4285.08   4371.52   3938.77   4108.37   1199.888264
2017-08-19   4108.37   4184.69   3850.00   4139.98    381.309763
2017-08-20   4120.98   4211.08   4032.62   4086.29    467.083022
2017-08-21   4069.13   4119.62   3911.79   4016.00    691.743060
...              ...       ...       ...       ...           ...
2024-03-29  70780.60  70916.16  69009.00  69850.54  25445.083530
2024-03-30  69850.53  70321.10  69540.00  69582.18  13644.611420
2024-03-31  69582.17  71366.00  69562.99  71280.01  19396.344330
2024-04-01  71280.00  71288.23  68062.86  69649.80  41445.320390
2024-04-02  69649.81  69674.23  66000.00  66667.99  24713.665280

[2421 rows x 5 columns]

In [3]:
strategy = Investment(file_name=BTC_daily, ticker='BTC/USDT')
strategy.daily_ema_cross_over(length_1=20, length_2=50, end_date='2024-03-31')

info_statement = strategy.stockAccount.get_strategy_info()
info_statement

{'average_return_per_trade': 34.25086985422592,
 'accumulated_return': 1276.4770597052125,
 'win_ratio': 70.0,
 'max_win': 341.3635792094726,
 'max_loss': -22.263205097347484,
 'total_trade': 17}