In [10]:
from Investment import Investment

import pandas as pd

In [11]:
BTC_daily = pd.read_csv('BTC-USDT_daily.csv')
BTC_daily

            date      open      high       low     close        volume
0     2017-08-17   4261.48   4485.39   4200.74   4285.08    795.150377
1     2017-08-18   4285.08   4371.52   3938.77   4108.37   1199.888264
2     2017-08-19   4108.37   4184.69   3850.00   4139.98    381.309763
3     2017-08-20   4120.98   4211.08   4032.62   4086.29    467.083022
4     2017-08-21   4069.13   4119.62   3911.79   4016.00    691.743060
...          ...       ...       ...       ...       ...           ...
2416  2024-03-29  70780.60  70916.16  69009.00  69850.54  25445.083530
2417  2024-03-30  69850.53  70321.10  69540.00  69582.18  13644.611420
2418  2024-03-31  69582.17  71366.00  69562.99  71280.01  19396.344330
2419  2024-04-01  71280.00  71288.23  68062.86  69649.80  41445.320390
2420  2024-04-02  69649.81  69674.23  66000.00  66667.99  24713.665280

[2421 rows x 6 columns]

In [12]:
strategy = Investment(file_name=BTC_daily, ticker='BTC/USDT')

In [13]:
strategy.inside_candle_strategy(end_date="2024-03-31", stop_loss=0.3, ratio=2)

In [14]:
strategy.stockAccount.get_strategy_info()

{'average_return_per_trade': 41.754412085167985,
 'accumulated_return': 410.2987173367451,
 'win_ratio': 71.42857142857143,
 'max_win': 154.78505975995708,
 'max_loss': -37.774115264137706,
 'total_trade': 12}

In [15]:
strategy.stockAccount.get_transaction()

[{'ticker': 'BTC/USDT',
  'date': Timestamp('2017-08-29 00:00:00'),
  'price': 4353.65,
  'ls': True,
  'buy': True},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2017-12-02 00:00:00'),
  'price': 10775.04,
  'ls': True,
  'buy': False},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2017-12-16 00:00:00'),
  'price': 17516.81,
  'ls': True,
  'buy': True},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2018-01-17 00:00:00'),
  'price': 10899.99,
  'ls': True,
  'buy': False},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2018-02-10 00:00:00'),
  'price': 8683.93,
  'ls': True,
  'buy': True},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2018-06-23 00:00:00'),
  'price': 6045.92,
  'ls': True,
  'buy': False},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2018-07-08 00:00:00'),
  'price': 6753.48,
  'ls': True,
  'buy': True},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2018-11-21 00:00:00'),
  'price': 4559.91,
  'ls': True,
  'buy': False},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2019-01-07 00:00:00'),
  'price': 3987.62,
  'ls': True,
  'buy': True},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2019-06-22 00:00:00'),
  'price': 10159.86,
  'ls': True,
  'buy': False},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2019-08-06 00:00:00'),
  'price': 11830.0,
  'ls': True,
  'buy': True},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2019-09-27 00:00:00'),
  'price': 8063.49,
  'ls': True,
  'buy': False},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2019-12-23 00:00:00'),
  'price': 7500.71,
  'ls': True,
  'buy': True},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2020-03-13 00:00:00'),
  'price': 4800.01,
  'ls': True,
  'buy': False},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2020-04-30 00:00:00'),
  'price': 8778.58,
  'ls': True,
  'buy': True},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2020-12-17 00:00:00'),
  'price': 21335.52,
  'ls': True,
  'buy': False},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2020-12-26 00:00:00'),
  'price': 24712.47,
  'ls': True,
  'buy': True},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2021-03-14 00:00:00'),
  'price': 61188.38,
  'ls': True,
  'buy': False},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2021-05-09 00:00:00'),
  'price': 58866.53,
  'ls': True,
  'buy': True},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2021-05-20 00:00:00'),
  'price': 36671.23,
  'ls': True,
  'buy': False},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2021-07-31 00:00:00'),
  'price': 42206.36,
  'ls': True,
  'buy': True},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2022-05-12 00:00:00'),
  'price': 29103.94,
  'ls': True,
  'buy': False},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2022-06-24 00:00:00'),
  'price': 21110.12,
  'ls': True,
  'buy': True},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2024-02-15 00:00:00'),
  'price': 51795.17,
  'ls': True,
  'buy': False},
 {'ticker': 'BTC/USDT',
  'date': Timestamp('2024-03-05 00:00:00'),
  'price': 68245.71,
  'ls': True,
  'buy': True}]

In [16]:
strategy.stockAccount.get_pls()

[{'ticker': 'BTC/USDT',
  'buy_date': Timestamp('2017-08-29 00:00:00'),
  'buy_price': 4353.65,
  'sell_date': Timestamp('2017-12-02 00:00:00'),
  'sell_price': 10775.04,
  'pl': 6421.390000000001,
  'pl_percent': 147.4944012495263},
 {'ticker': 'BTC/USDT',
  'buy_date': Timestamp('2017-12-16 00:00:00'),
  'buy_price': 17516.81,
  'sell_date': Timestamp('2018-01-17 00:00:00'),
  'sell_price': 10899.99,
  'pl': -6616.8200000000015,
  'pl_percent': -37.774115264137706},
 {'ticker': 'BTC/USDT',
  'buy_date': Timestamp('2018-02-10 00:00:00'),
  'buy_price': 8683.93,
  'sell_date': Timestamp('2018-06-23 00:00:00'),
  'sell_price': 6045.92,
  'pl': -2638.01,
  'pl_percent': -30.37806615207631},
 {'ticker': 'BTC/USDT',
  'buy_date': Timestamp('2018-07-08 00:00:00'),
  'buy_price': 6753.48,
  'sell_date': Timestamp('2018-11-21 00:00:00'),
  'sell_price': 4559.91,
  'pl': -2193.5699999999997,
  'pl_percent': -32.48058778585263},
 {'ticker': 'BTC/USDT',
  'buy_date': Timestamp('2019-01-07 00:00:00'),
  'buy_price': 3987.62,
  'sell_date': Timestamp('2019-06-22 00:00:00'),
  'sell_price': 10159.86,
  'pl': 6172.240000000001,
  'pl_percent': 154.78505975995708},
 {'ticker': 'BTC/USDT',
  'buy_date': Timestamp('2019-08-06 00:00:00'),
  'buy_price': 11830.0,
  'sell_date': Timestamp('2019-09-27 00:00:00'),
  'sell_price': 8063.49,
  'pl': -3766.51,
  'pl_percent': -31.838630600169065},
 {'ticker': 'BTC/USDT',
  'buy_date': Timestamp('2019-12-23 00:00:00'),
  'buy_price': 7500.71,
  'sell_date': Timestamp('2020-03-13 00:00:00'),
  'sell_price': 4800.01,
  'pl': -2700.7,
  'pl_percent': -36.005924772454875},
 {'ticker': 'BTC/USDT',
  'buy_date': Timestamp('2020-04-30 00:00:00'),
  'buy_price': 8778.58,
  'sell_date': Timestamp('2020-12-17 00:00:00'),
  'sell_price': 21335.52,
  'pl': 12556.94,
  'pl_percent': 143.04067400422394},
 {'ticker': 'BTC/USDT',
  'buy_date': Timestamp('2020-12-26 00:00:00'),
  'buy_price': 24712.47,
  'sell_date': Timestamp('2021-03-14 00:00:00'),
  'sell_price': 61188.38,
  'pl': 36475.909999999996,
  'pl_percent': 147.60123128121145},
 {'ticker': 'BTC/USDT',
  'buy_date': Timestamp('2021-05-09 00:00:00'),
  'buy_price': 58866.53,
  'sell_date': Timestamp('2021-05-20 00:00:00'),
  'sell_price': 36671.23,
  'pl': -22195.299999999996,
  'pl_percent': -37.7044476717075},
 {'ticker': 'BTC/USDT',
  'buy_date': Timestamp('2021-07-31 00:00:00'),
  'buy_price': 42206.36,
  'sell_date': Timestamp('2022-05-12 00:00:00'),
  'sell_price': 29103.94,
  'pl': -13102.420000000002,
  'pl_percent': -31.04371000010425},
 {'ticker': 'BTC/USDT',
  'buy_date': Timestamp('2022-06-24 00:00:00'),
  'buy_price': 21110.12,
  'sell_date': Timestamp('2024-02-15 00:00:00'),
  'sell_price': 51795.17,
  'pl': 30685.05,
  'pl_percent': 145.3570609735994}]

In [17]:
x = strategy.file_name
x.head(50)

,open,high,low,close,volume,max_value,min_value,signal,signal_diff,buyORsell
date,,,,,,,,,,
2017-08-17,4261.48,4485.39,4200.74,4285.08,795.150377,4485.39,4200.74,0,NaN,0
2017-08-18,4285.08,4371.52,3938.77,4108.37,1199.888264,4371.52,3938.77,0,0,0
2017-08-19,4108.37,4184.69,3850.00,4139.98,381.309763,4371.52,3938.77,1,1,0
2017-08-20,4120.98,4211.08,4032.62,4086.29,467.083022,4371.52,3938.77,2,1,0
2017-08-21,4069.13,4119.62,3911.79,4016.00,691.743060,4371.52,3938.77,3,1,0
2017-08-22,4016.00,4104.82,3400.00,4040.00,966.684858,4371.52,3938.77,4,1,0
2017-08-23,4040.00,4265.80,4013.89,4114.01,1001.136565,4371.52,3938.77,5,1,0
2017-08-24,4147.00,4371.68,4085.01,4316.01,787.418753,4371.52,3938.77,6,1,0
2017-08-25,4316.01,4453.91,4247.48,4280.68,573.612740,4371.52,3938.77,7,1,0
2017-08-26,4280.71,4367.00,4212.41,4337.44,228.108068,4371.52,3938.77,8,1,0
2017-08-27,4332.51,4400.00,4285.54,4310.01,350.692585,4371.52,3938.77,9,1,0
2017-08-28,4310.01,4399.82,4124.54,4386.69,603.841616,4399.82,4124.54,0,-9,1
2017-08-29,4353.65,4625.85,4313.55,4587.48,603.545028,4625.85,4313.55,0,0,0
2017-08-30,4564.52,4647.51,4416.01,4555.14,808.468771,4625.85,4313.55,1,1,0
2017-08-31,4555.14,4745.42,4555.14,4724.89,556.956802,4745.42,4555.14,0,-1,0
2017-09-01,4689.89,4885.55,4654.88,4834.91,560.666366,4885.55,4654.88,0,0,0
2017-09-02,4796.16,4939.19,4286.87,4472.14,929.148595,4939.19,4286.87,0,0,0
2017-09-03,4508.50,4714.76,4298.33,4509.08,691.216198,4939.19,4286.87,1,1,0
2017-09-04,4505.00,4527.49,3972.51,4100.11,1394.644614,4527.49,3972.51,0,-1,0
2017-09-05,4106.97,4484.99,3603.00,4366.47,1228.938157,4527.49,3972.51,1,1,0
2017-09-06,4366.49,4662.87,4335.26,4619.77,807.363726,4662.87,4335.26,0,-1,0
2017-09-07,4619.77,4788.59,4438.19,4691.61,500.429975,4788.59,4438.19,0,0,0
2017-09-08,4691.66,4735.39,4028.93,4282.80,1132.255046,4735.39,4028.93,0,0,0
2017-09-09,4282.80,4426.62,4150.06,4258.81,658.782952,4735.39,4028.93,1,1,0
2017-09-10,4258.81,4283.00,3801.00,4130.37,660.373275,4735.39,4028.93,2,1,0
2017-09-11,4153.62,4334.43,4098.91,4208.47,699.989065,4735.39,4028.93,3,1,0
2017-09-12,4208.60,4394.59,4040.80,4163.72,879.630319,4735.39,4028.93,4,1,0
2017-09-13,4159.72,4165.38,3760.00,3944.69,913.462545,4165.38,3760.0,0,-4,-1
2017-09-14,3944.00,3993.00,3165.13,3189.02,1665.021543,3993.0,3165.13,0,0,0
2017-09-15,3188.01,3856.00,2817.00,3700.00,1968.866492,3993.0,3165.13,1,1,0
2017-09-16,3674.01,3950.00,3470.66,3714.95,1297.563953,3993.0,3165.13,2,1,0
2017-09-17,3685.23,3748.21,3499.02,3699.99,682.171210,3993.0,3165.13,3,1,0
2017-09-18,3690.00,4123.20,3690.00,4035.01,1030.006455,4123.2,3690.0,0,-3,1
2017-09-19,4060.00,4089.97,3830.91,3910.04,902.332129,4123.2,3690.0,1,1,0
2017-09-20,3910.04,4046.08,3820.00,3900.00,720.935076,4123.2,3690.0,2,1,0
2017-09-21,3889.99,3910.00,3567.00,3609.99,1001.654084,3910.0,3567.0,0,-2,0
2017-09-22,3592.84,3750.00,3505.55,3595.87,838.966425,3910.0,3567.0,1,1,0
2017-09-23,3595.88,3817.19,3542.91,3780.00,752.792791,3910.0,3567.0,2,1,0
2017-09-24,3779.54,3789.99,3622.76,3660.02,661.636390,3910.0,3567.0,3,1,0
2017-09-25,3660.02,3979.87,3653.69,3920.75,727.994713,3979.87,3653.69,0,-3,1
2017-09-26,3928.00,3976.99,3850.05,3882.35,526.727987,3979.87,3653.69,1,1,0
2017-09-27,3882.36,4249.94,3872.81,4193.00,628.170966,4249.94,3872.81,0,-1,0
2017-09-28,4192.11,4300.00,4101.00,4174.50,849.785325,4249.94,3872.81,1,1,0
2017-09-29,4178.98,4263.86,3952.01,4174.69,1602.309565,4249.94,3872.81,2,1,0
2017-09-30,4175.00,4380.00,4138.10,4378.51,720.353183,4380.0,4138.1,0,-2,0
2017-10-01,4378.49,4406.52,4240.04,4378.48,726.963685,4380.0,4138.1,1,1,0
2017-10-02,4400.00,4561.63,4360.00,4380.00,655.756974,4380.0,4138.1,2,1,0
2017-10-03,4380.00,4467.33,4180.80,4310.00,1082.323563,4380.0,4138.1,3,1,0
2017-10-04,4314.90,4373.00,4142.00,4208.59,868.465101,4380.0,4138.1,4,1,0
2017-10-05,4208.59,4355.00,4110.00,4292.43,779.138638,4380.0,4138.1,5,1,0

In [18]:
win = 0
loss = 0
for i in strategy.stockAccount.get_pls():
    if i['pl_percent'] > 0:
        win += 1
    else:
        loss += 1

print(win)
print(loss)
print((win / loss) * 100)

5
7
71.42857142857143

- Stoploss
    - +3% -3%
    - 2:1, 3:1...
    - reference loss
- Entry
    - non-technical
    - technical
        - EMA/SMA
- Daily/4-Hourly/Hourly
- Long + short (future)